.faq-section {
  .faq-section-heading {
    margin-bottom: 48px;

    .faq-title {
      font-size: 30px;
      font-weight: $font-weight600;
      margin-bottom: 16px;
      color: $color-black;
    }

    .faq-description {
      color: $color-black-zinc-500;
      font-size: 16px;
      margin: 0px;
    }
  }

  .faq-container {
    display: flex;
    gap: 32px;

    .faq-column {
      display: flex;
      gap: 32px;
      flex-direction: column;
    }

    .faq-item {
      background: #F3F4F6;
      border-radius: 12px;

      overflow: hidden;
      transition: $transition;

      &.active {
        .faq-question {
          padding-bottom: 8px;
        }

      }
    }

    .faq-question {
      width: 100%;
      padding: 24px 16px;
      background: transparent;
      border: none;
      outline: none;
      font-size: 20px;
      font-weight: $font-weight500;
      text-align: left;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 16px;
      cursor: pointer;
      color: $color-black-zinc-800;
    }

    .faq-answer {
      padding: 0px 16px 16px 16px;
      font-size: 16px;
      line-height: 1.5;
      color: $color-black-zinc-500;
      background: transparent;
    }
  }
}


@media (max-width: 991.55px) {
  .faq-section {
    .faq-section-heading {
      margin-bottom: 32px;

      .faq-title {
        font-size: 24px;
        margin-bottom: 12px;
      }

      .faq-description {
        font-size: 14px;
      }
    }

    .faq-container {
      gap: 24px;

      .faq-column {
        gap: 24px;
      }

      .faq-item {
        border-radius: 12px;
      }

      .faq-question {
        font-size: 18px;

        .icon {
          svg {
            width: 28px;
            height: 28px;
          }
        }
      }

      .faq-answer {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 767.55px) {
  .faq-section {
    .faq-section-heading {
      margin-bottom: 16px;

      .faq-title {
        font-size: 20px;
        margin-bottom: 12px;
      }
    }

    .faq-container {
      flex-direction: column;

      .faq-item {
        border-radius: 8px;

        &.active {
          .faq-question {
            padding-bottom: 10px;
          }

        }
      }

      .faq-question {
        padding: 12px 8px;
        font-size: 16px;

        .icon {
          svg {
            width: 24px;
            height: 24px;
          }
        }
      }

      .faq-answer {
        padding: 0 52px 16px 8px;
      }
    }
  }
}