.pageTitle {
  font-size: 36px;
  font-weight: $font-weight600;
  color: $color-black-zinc-950;
  margin: 0 0 32px 0;
}

.cardsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.card {
  background: #F4F6FB;
  border-radius: 16px;
  padding: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.cardLeft {
  display: flex;
  gap: 48px;
  width: 100%;
  flex-direction: column;
  height: 100%;
}

.iconWrap {
  width: 24px;
  height: 24px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin-top: auto;
}

.cardTitle {
  font-size: 20px;
  font-weight: $font-weight500;
  color: $color-black;
  margin-bottom: 8px;
}

.flagImg {
  width: 18px;
  height: 12px;
  object-fit: cover;
}

.numberLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  font-size: 16px;
  color: $color-black-zinc-800;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.hintText {
  color: $color-black-zinc-800;
  font-size: 12px;
}

@media (max-width: 991.55px) {
  .cardLeft {
    gap: 32px;
  }
}

@media (max-width: 767.55px) {
  .pageTitle {
    font-size: 24px;
    margin: 0 0 24px 0;
  }

  .card {
    padding: 12px;
    border-radius: 8px;
  }

  .cardLeft {
    gap: 24px;
  }

  .cardTitle {
    font-size: 16px;
  }

  .numberLink {
    font-size: 14px;
  }

  .hintText {
    font-size: 12px;
  }

  .cardsGrid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

// RTL Layout

[dir="rtl"] {
  .numberLink {
    svg {
      transform: rotate(180deg);
    }
  }
}