.my-booking-page {
  .my-booking-title-with-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    margin: 0 0 32px 0;

    .my-booking-title {
      font-size: 36px;
      font-weight: $font-weight600;
      color: $color-black-zinc-950;
      margin: 0px;
    }

    .my-booking-filter-btn {
      padding: 10.5px 12px;
      border-radius: 9px;
      background-color: #F3F4F6;
      border: none;
      gap: 15px;
      min-width: 166px;
      justify-content: space-between;
      cursor: pointer;

      .my-booking-filter-text {
        gap: 10px;
        font-size: 18px;
        color: $color-black-zinc-950;
      }
    }
  }

  .hotel-booking-card {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;

    .hotel-booking-card-item {
      display: flex;
      flex-direction: column;
      transition: $transition;

      .hotel-booking-image {
        overflow: hidden;
        border-radius: 18px;

        .hotel-booking-img {
          width: 100%;
          height: 222px;
          border-radius: 18px;
          transition: $transition;
        }
      }

      .hotel-booking-info {
        padding-top: 12px;

        .hotel-title-with-rating {
          gap: 15px;
          margin-bottom: 8px;
        }

        .hotel-title {
          font-size: 24px;
          font-weight: $font-weight600;
          color: $color-black-zinc-950;
          margin: 0px;
        }

        .hotel-review-rating {
          gap: 6px;
          font-size: 16px;
          color: $color-black-zinc-800;
          font-weight: $font-weight500;
          margin: 0px;
          min-width: fit-content;
        }

        .hotel-location {
          gap: 6px;
          font-size: 16px;
          color: $color-black-zinc-500;
          margin-bottom: 12px;
        }

        .date-guest-number {
          gap: 15px;
          margin-bottom: 12px;
        }

        .text-with-icon {
          gap: 6px;
          font-size: 18px;
          color: $color-black-zinc-500;
        }
      }

      .hotel-bookig-action {
        gap: 12px;
        margin-top: auto;

        .hotel-bookig-action-btn {
          flex: 1;
          font-size: 16px;
          padding: 6.7px 12px;
        }
      }

      &:hover {
        .hotel-booking-image {
          .hotel-booking-img {
            transform: scale(1.05);
          }
        }
      }
    }
  }
}

@media (max-width: 1199.55px) {
  .my-booking-page {
    .hotel-booking-card {
      gap: 24px;

      .hotel-booking-card-item {
        .hotel-booking-image {
          border-radius: 12px;

          .hotel-booking-img {
            border-radius: 12px;
          }
        }
      }
    }

  }
}


@media (max-width: 767.55px) {
  .my-booking-page {
    .my-booking-title-with-filter {
      margin-bottom: 24px;

      .my-booking-title {
        font-size: 24px;
      }

      .my-booking-filter-btn {
        min-width: auto;
        border-radius: 4px;
        padding: 9px 10px;

        .my-booking-filter-text {
          font-size: 16px;
        }
      }
    }

    .hotel-booking-card {
      grid-template-columns: repeat(1, 1fr);

      .hotel-booking-card-item {
        .hotel-booking-image {
          .hotel-booking-img {
            height: auto;
          }
        }

        .hotel-booking-info {
          .hotel-title-with-rating {
            margin-bottom: 6px;
          }

          .hotel-title {
            font-size: 16px;
          }

          .hotel-review-rating {
            font-size: 14px;

            .ration-star-icon {
              width: 16px;
              height: 16px;
            }
          }

          .hotel-location {
            font-size: 14px;
            margin-bottom: 6px;

            svg {
              width: 14px;
              height: 14px;
            }
          }

          .date-guest-number {
            margin-bottom: 6px;
          }

          .text-with-icon {
            font-size: 14px;

            svg {
              width: 14px;
              height: 14px;
            }
          }
        }

        .hotel-bookig-action {
          .hotel-bookig-action-btn {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 575.55px) {
  .my-booking-page {
    .hotel-booking-card {
      .hotel-booking-card-item {
        .hotel-booking-image {
          .hotel-booking-img {
            height: 160px;
          }
        }
      }
    }
  }
}