@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.hotel-details-page {

  .hotel-details-main-content {
    gap: 32px;
    grid-template-columns: 1fr 276px;
    display: grid;

    .hotel-details-left {
      flex: 2;

      .image-gallery-section {
        display: grid;
        gap: 12px;
        margin-bottom: 0px;

        .main-image {
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0px;
            transition: $transition;

            &:hover {
              transform: scale(1.05);
            }
          }
        }

        .thumbnail-images {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 10px;

          .thambnail-image-item {
            position: relative;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 0px;
              transition: $transition;

              &:hover {
                transform: scale(1.05);
              }
            }

            .show-all-photos {
              position: absolute;
              bottom: 8px;
              right: 8px;
              cursor: pointer;
              font-size: 12px;
              padding: 7.7px 16px;
              border-radius: 4px;
              text-decoration: none;
              background-color: $color-white;
              border: 1px solid $color-white;
              color: $color-black;

              &:hover {
                border-color: $brand-color;
              }
            }
          }


        }
      }

      .image-gallery-section {
        display: grid;
        gap: 12px;
        margin-bottom: 0px;

        .main-image {
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0px;
            transition: $transition;

            &:hover {
              transform: scale(1.05);
            }
          }
        }

        .thumbnail-images {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 10px;

          .thambnail-image-item {
            position: relative;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 0px;
              transition: $transition;

              &:hover {
                transform: scale(1.05);
              }
            }

            .show-all-photos {
              position: absolute;
              bottom: 8px;
              right: 8px;
              cursor: pointer;
              font-size: 12px;
              padding: 7.7px 16px;
              border-radius: 4px;
              text-decoration: none;
              background-color: $color-white;
              border: 1px solid $color-white;
              color: $color-black;

              &:hover {
                border-color: $brand-color;
              }
            }
          }
        }
      }
    }

    .hotel-details-right {
      flex: 1;
      position: sticky;
      top: 126px;
      align-self: flex-start;

      .hotel-info-header {
        .hotel-name {
          font-size: 24px;
          font-weight: $font-weight600;
          margin-bottom: 12px;
          color: $color-black;
        }

        .hotel-details-rating {
          gap: 8px;
          font-size: 14px;
          color: $color-black-zinc-500;
          margin-bottom: 20px;

          .hotel-details-rating-star {
            gap: 2px;
          }

          .rating-value-wrapper {
            gap: 4px;

            .rating-value {
              font-size: 16px;
              color: $color-black;
              font-weight: $font-weight500;
            }
          }
        }

        .distance {
          gap: 8px;
          font-size: 14px;
          color: $color-black-zinc-800;
          margin-bottom: 12px;
        }

        .location-address {
          gap: 8px;
          font-size: 14px;
          color: $color-black-zinc-800;
        }

        .hotel-price-info {
          margin: 32px 0 46px;

          .price {
            margin-bottom: 12px;
            font-size: 18px;
            font-weight: $font-weight500;
            color: $color-black-zinc-800;

            span {
              font-weight: $font-weight600;
              color: $brand-color;
            }
          }

          .check-availability-action {
            .check-availability-btn {
              font-size: 16px;
              width: 100%;
              padding: 13.2px 15px;
              cursor: pointer;
            }
          }
        }

        .free-cancellation-section {
          gap: 8px;
          font-size: 16px;
          color: $color-black-zinc-800;
          justify-content: space-between;
          margin-bottom: 12px;
        }

        .share-like-section {
          gap: 8px;
          justify-content: space-between;

          .share-btn {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 16px;
            border-radius: 4px;
            padding: 4px 8px;
            font-weight: $font-weight500;
            color: $color-black;
            border: 1px solid transparent;
            background: transparent;
            cursor: pointer;

            &:hover {
              border-color: $brand-color;
            }
          }
        }
      }
    }

    .tabbing-conetnt {
      .tabbing-tabs-container {
        overflow-x: auto;
        overflow-y: hidden;

        &::-webkit-scrollbar {
          display: none;
        }

        scrollbar-width: none;
        -ms-overflow-style: none;
      }


      .hotel-tabs {
        display: flex;
        gap: 0px;
        padding: 44px 0px 0px 0px;
        margin-bottom: 44px;
        border-bottom: 2px solid $border-color;
        width: fit-content;
        min-width: -webkit-fill-available;

        a {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0px 0 16px 0;
          text-decoration: none;
          color: $color-black;
          font-size: 14px;
          font-weight: $font-weight400;
          margin-bottom: -1.5px;
          border-bottom: 2px solid transparent;

          &:hover,
          &.active {
            font-weight: $font-weight600;
            border-bottom-color: $brand-color;
          }
        }
      }

      .hotel-tab-section {
        margin-bottom: 44px;

        &:last-child {
          margin-bottom: 0px;
        }

        .tabbing-sub-title {
          font-size: 30px;
          font-weight: $font-weight600;
          margin-bottom: 16px;
          color: $color-black-zinc-950;
        }

        .hotel-description {
          font-size: 16px;
          color: $color-black-zinc-500;
          margin: 0px;

          a {
            font-size: 18px;
            color: $brand-color;
            font-weight: $font-weight500;
            text-decoration: none;
            cursor: pointer;
            white-space: nowrap;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .important-tab-content {
        .important-info {
          .important-item {
            margin-bottom: 20px;

            &:last-child {
              margin-bottom: 0px;
            }

            .important-icon {
              gap: 8px;
              font-size: 18px;
              font-weight: $font-weight500;
              color: $color-black-zinc-950;
              margin-bottom: 8px;
            }

            .important-text {
              font-size: 16px;
              color: $color-black-zinc-500;
              margin: 0px;
            }

          }
        }
      }

      .amenities-tab-content {
        .amenities-info {
          grid-template-columns: repeat(4, 1fr);
          gap: 20px;

          .amenities-item {
            gap: 10px;
            padding: 24px;
            font-size: 16px;
            color: $color-black-zinc-500;
          }
        }
      }
    }
  }

  .hotel-section-title {
    font-size: 30px;
    font-weight: $font-weight600;
    margin-bottom: 16px;
    color: $color-black-zinc-950;
  }

  .rooms-filter-section {
    margin-top: 44px;

    .room-filters {
      margin-bottom: 32px;
    }

    .room-filter-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
      margin-bottom: 32px;

      .room-filter-left {
        display: flex;
        gap: 16px;

        .filter-btn {
          padding: 4.7px 16px;
          border: 1px solid $color-black-zinc-950;
          border-radius: 100px;
          font-size: 16px;
          color: $color-black-zinc-950;
          background: #fff;
          cursor: pointer;
          transition: $transition;

          &.active,
          &:hover {
            background: $color-black-zinc-950;
            color: $color-white;
            font-weight: $font-weight500;
          }
        }
      }

      .room-filter-right {
        font-size: 16px;
        color: $color-black-zinc-950;
        white-space: nowrap;
      }
    }

    .room-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 32px;
      margin-bottom: 36px;

      .room-card {
        display: flex;
        flex-direction: column;
        gap: 0px;
        border: 1px solid $border-color;
        border-radius: 8px;

        .room-card-image {
          position: relative;
          overflow: hidden;

          img {
            border-radius: 8px 8px 0 0;
          }

          .hotel-best-value {
            position: absolute;
            top: 0px;
            right: 0px;
            font-size: 14px;
            font-weight: $font-weight600;
            color: $color-white;
            background: #2B7FFF;
            width: 100%;
            justify-content: center;
            padding: 10px;
            border-radius: 8px 8px 0 0;
          }

          .hotel-image-action {
            padding: 0 20px;
            position: absolute;
            top: 50%;
            left: 0%;
            width: 100%;
            transform: translate(0%, -50%);
          }

          .hotel-card-total-image {
            position: absolute;
            bottom: 2px;
            right: 5px;
            font-size: 16px;
            color: $color-white;
            gap: 4px;
            border-radius: 4px;
            background: #000000CC;
            backdrop-filter: blur(4px);
            padding: 6px 13px;
          }
        }

        .room-card-details {
          padding: 12px;

          .hotel-room-name {
            font-size: 20px;
            font-weight: $font-weight600;
            color: $color-black-zinc-950;
            margin-bottom: 10px;
          }

          .hotel-details-rating {
            gap: 8px;
            font-size: 12px;
            color: $color-black-zinc-500;
            margin-bottom: 24px;

            .hotel-details-rating-star {
              gap: 2px;
            }

            .rating-value-wrapper {
              gap: 4px;

              .rating-value {
                font-size: 12px;
                color: $color-black;
                font-weight: $font-weight500;
              }
            }
          }

          .room-card-amenities-list {
            text-align: left;
            margin: 24px 0;

            .amenities-item {
              row-gap: 6px;
              column-gap: 16px;
              margin: 0;
              flex-wrap: wrap;
              padding: 0;
              list-style: none;
              display: flex;

              li {
                width: auto;
                display: flex;
                align-items: center;
                gap: 8px;
                font-size: 16px;
                color: $color-blue;
              }
            }
          }

          .room-card-specs {
            margin: 24px 0;

            .card-specs-item {
              row-gap: 8px;
              column-gap: 16px;
              column-gap: 16px;
              margin: 0;
              padding: 0;
              list-style: none;
              display: flex;
              flex-wrap: wrap;
              align-items: center;

              li {
                width: auto;
                display: flex;
                align-items: center;
                gap: 4px;
                font-size: 16px;
                color: $color-black-zinc-800;
              }
            }
          }

          .room-card-policies-list {
            margin: 24px 0;

            .policies-item {
              row-gap: 6px;
              column-gap: 16px;
              margin: 0;
              padding: 0;
              list-style: none;
              display: flex;
              flex-wrap: wrap;
              align-items: center;

              li {
                width: auto;
                display: flex;
                align-items: center;
                gap: 7px;
                font-size: 16px;
                color: $color-black-zinc-800;
              }
            }
          }

          .rooms-card-refund {
            margin-bottom: 12px;

            .refund-item {
              gap: 4px;
              font-size: 16px;
              color: $color-black-zinc-950;
            }

            .refund-valid-date {
              font-size: 12px;
              color: $color-black-zinc-500;
            }
          }

          .hotel-room-more-details {
            text-align: left;
            margin-bottom: 24px;

            .hotel-more-details-link {
              gap: 10px;
              font-size: 18px;
              font-weight: $font-weight500;
              color: $brand-color;
              text-decoration: none;
            }
          }

          .price-info {
            text-align: left;

            .discount {
              background-color: #FF6467;
              color: $color-white;
              padding: 8px 16px;
              border-radius: 4px;
              line-height: 20px;
              font-size: 14px;
              border-radius: 4px;
              display: inline-block;
              font-weight: $font-weight600;
              margin-bottom: 10px;
            }

            .nightly-price {
              display: block;
              margin-bottom: 2px;
              font-size: 16px;
              color: $color-black-zinc-700;
            }

            .total-price {
              font-size: 20px;
              line-height: 28px;
              font-weight: $font-weight600;
              color: $color-black-zinc-950;
              margin-bottom: 2px;
              display: flex;
              gap: 5px;
              align-items: baseline;

              span {
                font-size: 12px;
                font-weight: $font-weight500;
                text-decoration: line-through;
              }
            }

            .hotel-room-number {
              font-size: 14px;
              display: block;
              color: $color-black-zinc-400;
              margin-bottom: 10px;
            }
          }

          .total-taxes-fees {
            font-size: 12px;
            gap: 15px;

            .taxes-fees {
              gap: 4px;
              color: #00A63E;
            }

            .hotel-room-left {
              color: #E7000B;
            }
          }

          .hotel-room-booking-action {
            margin-top: 40px;

            .room-booking-btn {
              font-size: 16px;
              padding: 13.2px 15px;
            }
          }
        }
      }
    }
  }

  .hotel-map-section {
    margin: 44px 0;

    .map-container {
      img {
        width: 100%;
        border-radius: 8px;
      }
    }
  }

  .nearby-hotel-section {
    .hotel-section-title {
      margin-bottom: 32px;
    }
  }

  .hotel-faq-section {
    margin-top: 36px;
  }

  // room information Modal

  .room-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;

    .room-modal {
      background: #fff;
      border-radius: 24px;
      padding: 24px;
      max-width: 790px;
      width: 90%;
      max-height: 80vh;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      position: relative;
    }

    .room-modal-header {
      position: sticky;
      top: 0;
      background: #fff;
      padding: 0 0 24px 0;
      border-bottom: 1px solid #eee;
      display: flex;
      align-items: center;
      gap: 24px;
      z-index: 2;


      .room-modal-close {
        background: transparent;
        border: none;
        cursor: pointer;
      }

      .room-modal-title {
        font-size: 16px;
        font-weight: $font-weight500;
        color: $color-black-zinc-900;
        margin: 0px;
      }
    }


    .room-modal-body {
      overflow-y: auto;
      overflow-x: hidden;
      flex: 1;

      .room-modal-images {
        border-radius: 24px;
        overflow: hidden;
        position: relative;

        img {
          border-radius: 24px;
          height: auto;
          max-height: 362px;
        }

        .hotel-image-action {
          padding: 0 20px;
          position: absolute;
          top: 50%;
          left: 0%;
          width: 100%;
          transform: translate(0%, -50%);
        }
      }

      .modal-room-title {
        font-size: 20px;
        font-weight: $font-weight600;
        color: $color-black-zinc-950;
        margin-bottom: 10px;
        margin-top: 24px;
      }

      .modal-room-rating {
        gap: 8px;
        font-size: 12px;
        color: $color-black-zinc-500;
        margin-bottom: 24px;

        .modal-room-rating-star {
          gap: 2px;
        }

        .rating-value-wrapper {
          gap: 4px;

          .rating-value {
            font-size: 12px;
            color: $color-black;
            font-weight: $font-weight500;
          }
        }
      }

      .modal-room-facility-list {
        margin: 24px 0;

        .facility-item {
          margin: 0px;
          list-style-type: none;
          padding: 24px;
          border-radius: 8px;
          gap: 20px;
          background-color: #F3F4F6;

          li {
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            gap: 6px;
            flex: 1;
            font-size: 12px;
            padding: 0 12px;
            color: $color-black-zinc-800;
          }
        }
      }

      .modal-room-amenities-list {
        text-align: left;
        margin-bottom: 20px;

        .amenities-item {
          row-gap: 6px;
          column-gap: 16px;
          margin: 0;
          flex-direction: column;
          flex-wrap: wrap;
          padding: 0;
          list-style: none;
          display: flex;

          li {
            width: auto;
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 16px;
            color: $color-blue;
          }
        }
      }

      .modal-room-policies-list {
        margin-bottom: 20px;

        .policies-item {
          row-gap: 6px;
          column-gap: 16px;
          margin: 0;
          padding: 0;
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          align-items: start;
          flex-direction: column;

          li {
            width: auto;
            display: flex;
            align-items: center;
            gap: 7px;
            font-size: 16px;
            color: $color-black-zinc-800;
          }
        }
      }

      .modal-room-specs-list {
        margin: 0;

        .card-specs-item {
          row-gap: 16px;
          column-gap: 16px;
          margin: 0;
          padding: 0;
          list-style: none;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-items: start;

          li {
            width: 100%;
            display: flex;
            align-items: start;
            gap: 4px;
            font-size: 16px;
            color: $color-black-zinc-800;
          }
        }
      }

      .modal-room-review-section {
        margin: 24px 0;

        .hotel-section-title {
          font-size: 24px;
        }
      }

      .modal-room-pricing {
        padding: 20px;
        border: 1px solid $border-color;
        border-radius: 8px;

        .modal-room-refund {
          margin-bottom: 14px;

          .refund-item {
            gap: 4px;
            font-size: 16px;
            color: $color-black-zinc-950;
          }

          .refund-valid-date {
            font-size: 12px;
            color: $color-black-zinc-500;
          }
        }

        .modal-room-price-info {
          text-align: left;

          .discount {
            background-color: #FF6467;
            color: $color-white;
            padding: 6.5px 16px;
            border-radius: 4px;
            line-height: 20px;
            font-size: 14px;
            border-radius: 4px;
            display: inline-block;
            font-weight: $font-weight600;
            margin-bottom: 10px;
          }

          .nightly-price {
            display: block;
            margin-bottom: 2px;
            font-size: 16px;
            color: $color-black-zinc-700;
          }

          .total-price {
            font-size: 20px;
            line-height: 28px;
            font-weight: $font-weight600;
            color: $color-black-zinc-950;
            margin-bottom: 2px;
            display: flex;
            gap: 5px;
            align-items: baseline;

            span {
              font-size: 12px;
              font-weight: $font-weight500;
              text-decoration: line-through;
            }
          }

          .hotel-room-number {
            font-size: 14px;
            display: block;
            color: $color-black-zinc-400;
            margin-bottom: 10px;
          }
        }

        .total-taxes-fees {
          font-size: 12px;
          gap: 15px;

          .taxes-fees {
            gap: 4px;
            color: #00A63E;
          }

          .hotel-room-left {
            color: #E7000B;
          }
        }

        .modal-room-booking-action {
          margin-top: 14px;

          .room-booking-btn {
            font-size: 16px;
            padding: 9.2px 15px;
          }
        }
      }
    }
  }
}


@media (max-width: 1199.55px) {
  .hotel-details-page {
    .hotel-details-main-content {
      grid-template-columns: 1fr 267px;
      gap: 24px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199.55px) {
  .hotel-details-page {
    .rooms-filter-section {
      .room-filters {
        .search-bar-container {
          gap: 15px;

          .guestspicker-dropdown {
            width: auto;
          }

          .search-button {
            padding: 5px 10px;
            border-radius: 8px;
            white-space: break-spaces;
            width: min-content;
            font-size: 14px;
            line-height: 1.4;
          }
        }
      }
    }

    .hotel-details-main-content {
      .hotel-details-left {
        .image-gallery-section .thumbnail-images {
          .thambnail-image-item {
            .show-all-photos {
              cursor: pointer;
              color: #000;
              padding: 7.7px 8px;

            }
          }
        }
      }
    }
  }
}

@media (max-width: 991.95px) {
  .hotel-details-page {
    .hotel-details-main-content {
      display: flex;
      flex-direction: column;

      .tabbing-conetnt {
        .hotel-tabs {
          margin-bottom: 32px;
          padding: 32px 0 0;

          a {
            padding: 0 0 12px;
          }
        }

        .hotel-tab-section {
          .tabbing-sub-title {
            font-size: 24px;
          }
        }

        .amenities-tab-content {
          .amenities-info {
            gap: 16px;

            .amenities-item {
              padding: 16px;
            }
          }
        }
      }

      .hotel-details-left {
        .image-gallery-section {
          .thumbnail-images {
            .thambnail-image-item {
              .show-all-photos {
                padding: 7.7px 10px;
              }
            }
          }
        }
      }

      .hotel-details-right {
        position: unset;
        top: 0;
        width: 100%;
      }
    }

    .hotel-section-title {
      font-size: 24px;
    }

    .rooms-filter-section {
      .room-list {
        gap: 16px;
        margin-bottom: 32px;
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        padding-bottom: 10px;

        .room-card {
          min-width: 250px;
          max-width: 310px;
          flex: 0 0 auto;
          scroll-snap-align: start;

          .hotel-img-btn {
            width: 32px;
            height: 32px;
          }
        }
      }
    }

    .room-modal-overlay {
      .room-modal-body {
        .modal-room-facility-list {
          .facility-item {
            gap: 15px;
            padding: 15px;

            li {
              padding: 0 6px;
            }
          }
        }
      }
    }
  }
}


@media (max-width: 767.55px) {
  .hotel-details-page {
    .hotel-details-main-content {
      gap: 32px;

      .hotel-details-left {
        .image-gallery-section {
          gap: 8px;

          .main-image {
            min-height: 200px;
          }

          .thumbnail-images {
            gap: 4px;

            .thambnail-image-item {
              min-height: 65px;

              .show-all-photos {
                font-size: 8px;
                padding: 3px;
                bottom: 4px;
                right: 4px;
                max-width: 75%;
                text-align: center;
              }
            }
          }
        }
      }

      .hotel-details-right {
        .hotel-info-header {
          .hotel-price-info {
            margin: 24px 0;

            .price {
              font-size: 16px;
            }

            .check-availability-action {
              .check-availability-btn {
                padding: 9.2px 15px;
              }
            }
          }

          .free-cancellation-section {
            font-size: 14px;
          }

          .share-like-section {
            .share-btn {
              gap: 6px;
              font-size: 14px;

              svg {
                width: 20px;
                height: 20px;
              }
            }
          }
        }
      }

      .tabbing-conetnt {
        .hotel-tabs {
          margin-bottom: 20px;
          padding: 20px 0px 0px;

          a {
            margin-bottom: -1.5px;
            padding: 0px 0px 14px;
            min-width: 90px;
          }
        }

        .hotel-tab-section {
          margin-bottom: 32px;

          .tabbing-sub-title {
            font-size: 20px;
          }

          .hotel-description {
            font-size: 14px;

            a {
              font-size: 16px;
            }
          }
        }

        .important-tab-content {
          .important-info {
            .important-item {
              margin-bottom: 16px;

              .important-icon {
                font-size: 16px;
              }

              .important-text {
                font-size: 14px;
              }
            }
          }
        }

        .amenities-tab-content {
          .amenities-info {
            gap: 0;

            .amenities-item {
              padding: 12px 8px;
              flex-direction: column;
              gap: 6px;
              font-size: 12px;
            }
          }
        }
      }
    }

    .hotel-section-title {
      font-size: 20px;
    }

    .rooms-filter-section {
      margin-top: 32px;
    }

    .rooms-filter-section {
      .room-filter-bar {
        flex-wrap: wrap;
        gap: 16px;


        .room-filter-left {
          .filter-btn {
            padding: 4.7px 12px;
            font-size: 14px;
          }
        }
      }

      .room-list {
        .room-card {
          .room-card-image {
            .hotel-best-value {
              padding: 7px;
              font-size: 12px;
            }

            .hotel-image-action {
              padding: 0 12px;
            }

            .hotel-card-total-image {
              padding: 3px 8px;
              font-size: 12px;

              svg {
                width: 14px;
                height: 14px;
              }
            }
          }

          .hotel-img-btn {
            width: 24px;
            height: 24px;
          }

          .room-card-details {
            .hotel-room-name {
              margin-bottom: 6px;
              font-size: 18px;
            }

            .hotel-details-rating {
              margin-bottom: 12px;
              font-size: 12px;
            }

            .room-card-amenities-list {
              margin: 16px 0;

              li {
                font-size: 14px;
                gap: 4px;

                img {
                  width: 16px;
                  height: 16px;
                }
              }
            }

            .room-card-specs {
              margin: 16px 0;

              .card-specs-item {
                gap: 8px;

                li {
                  gap: 4px;
                  font-size: 14px;

                  svg {
                    width: 16px;
                    height: 16px;
                  }

                }
              }
            }

            .room-card-policies-list {
              margin: 16px 0;

              .policies-item {
                gap: 8px;

                li {
                  font-size: 14px;
                  gap: 4px;

                  svg {
                    width: 16px;
                    height: 16px;
                  }
                }
              }
            }

            .rooms-card-refund {
              .refund-item {
                font-size: 14px;

                svg {
                  width: 16px;
                  height: 16px;
                }
              }
            }

            .hotel-room-more-details {
              .hotel-more-details-link {
                gap: 8px;
                font-size: 14px;

                svg {
                  width: 16px;
                  height: 16px;
                }
              }
            }

            .price-info {
              .discount {
                padding: 4px 10px;
                font-size: 12px;
                line-height: normal;
              }

              .nightly-price {
                font-size: 14px;
              }

              .total-price {
                font-size: 16px;
                line-height: normal;
              }

              .hotel-room-number {
                font-size: 12px;
              }
            }

            .hotel-room-booking-action {
              margin-top: 24px;

              .room-booking-btn {
                padding: 10.7px 15px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }

    .hotel-map-section {
      margin: 32px 0;

      .map-container img {
        border-radius: 8px;
        min-height: 160px;
      }
    }

    .nearby-hotel-section {
      .hotel-section-title {
        margin-bottom: 16px;
      }
    }

    .hotel-faq-section {
      margin-top: 32px;
    }

    .room-modal-overlay {
      .room-modal {
        border-radius: 12px;
        width: 100%;
        padding: 15px;
      }

      .room-modal-header {
        gap: 16px;
        padding: 0 0 15px;
      }

      .room-modal-body {
        .room-modal-images {
          border-radius: 8px;

          img {
            border-radius: 8px;
          }

          .hotel-image-action {
            padding: 0 15px;

            .hotel-img-btn {
              width: 28px;
              height: 28px;
            }
          }
        }

        .modal-room-title {
          font-size: 18px;
          margin-top: 15px;
        }

        .modal-room-rating {
          margin-bottom: 16px;

          .modal-room-rating-star {
            gap: 2px;
          }

          .rating-value-wrapper {
            gap: 4px;

            .rating-value {
              font-size: 12px;
              color: $color-black;
              font-weight: $font-weight500;
            }
          }
        }

        .modal-room-facility-list {
          margin: 16px 0;

          .facility-item {
            gap: 0px;
            row-gap: 20px;
            display: grid !important;
            grid-template-columns: repeat(3, 1fr);

            li {
              padding: 0 10.5px;

              svg {
                width: 20px;
                height: 20px;
              }
            }
          }
        }

        .modal-room-amenities-list {
          margin-bottom: 16px;

          .amenities-item {
            row-gap: 6px;
            column-gap: 6px;

            li {
              font-size: 14px;
            }
          }
        }

        .modal-room-policies-list {
          margin-bottom: 16px;

          .policies-item {
            column-gap: 6px;


            li {
              font-size: 14px;
            }
          }
        }

        .modal-room-specs-list {
          .card-specs-item {
            row-gap: 6px;
            column-gap: 6px;

            li {
              font-size: 14px;
              gap: 6px;
            }
          }
        }

        .modal-room-review-section {
          margin: 16px 0;

          .hotel-section-title {
            font-size: 20px;
          }
        }

        .modal-room-pricing {
          padding: 15px;

          .modal-room-refund {
            .refund-item {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}


// RTL Layout
[dir='rtl'] {
  .hotel-details-page {
    .hotel-details-main-content {
      .hotel-details-left {
        .image-gallery-section {
          .thumbnail-images {
            .thambnail-image-item {
              .show-all-photos {
                left: 8px;
                right: auto;
              }
            }
          }
        }
      }

      .tabbing-conetnt {
        .important-tab-content {
          .important-info {
            .important-item {
              .arrow_icon {
                svg {
                  transform: rotate(180deg);
                }
              }
            }
          }
        }
      }
    }

    .rooms-filter-section {
      .room-list {
        .room-card {
          .room-card-image {
            .hotel-image-action {
              .hotel-img-btn {
                img {
                  transform: rotate(180deg);
                }

              }
            }

            .hotel-card-total-image {
              right: auto;
              left: 5px;
            }
          }

          .room-card-details {
            .hotel-room-more-details {
              text-align: right;

              .hotel-more-details-link {
                svg {
                  transform: rotate(180deg);
                }
              }
            }

            .price-info {
              text-align: right;
            }
          }
        }
      }
    }

    .room-modal-overlay {
      .room-modal-body {
        .room-modal-images {
          .hotel-image-action {
            .arrow-icon {
              transform: rotate(180deg);
            }
          }
        }

        .modal-room-pricing {
          .modal-room-price-info {
            text-align: right;
          }
        }
      }
    }
  }
}

@media (max-width: 767.55px) {
  [dir='rtl'] {
    .hotel-details-page {
      .hotel-details-main-content {
        .hotel-details-left {
          .image-gallery-section {
            .thumbnail-images {
              .thambnail-image-item {
                .show-all-photos {
                  left: 4px;
                }
              }
            }
          }
        }
      }
    }
  }
}