// This is a new file.
// Variables
$color-black: #000000;
$color-black-zinc-300: #D4D4D8;
$color-black-zinc-500: #71717B;
$color-black-zinc-600: #52525C;
$color-black-zinc-700: #3F3F47;
$color-black-zinc-800: #27272A;
$color-black-zinc-900: #18181B;
$color-black-zinc-950: #09090B;
$color-white-70: #FFFFFFB2;
$color-white: #FFFFFF;
$brand-color: #3E5B96;
$border-color: #D1D5DC;
$font-weight400: 400;
$font-weight500: 500;
$font-weight600: 600;
$font-weight700: 700;
$transition: all 0.3s ease-in-out;
$font-family-Inter: "Inter", sans-serif;