.blog-listing-section {
  .blog-listing-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-bottom: 48px;

    .blog-sort-by-select-option {
      min-width: 250px;
    }
  }

  .section-title {
    font-size: 48px;
    font-weight: $font-weight600;
    color: $color-black;
    margin-bottom: 0px;
  }

  .blog-listing-layout {
    display: grid;
    grid-template-columns: 276px 1fr;
    gap: 64px;
    align-items: start;
  }

  // Left Sidebar - Filters
  .blog-filters-sidebar {
    padding: 0px;
    border-radius: 0px;
    height: fit-content;
    position: sticky;
    top: 124px;

    .filter-section {
      margin-bottom: 32px;
      padding-bottom: 32px;
      border-bottom: 1px solid $border-color;


      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
      }

      .filter-title {
        font-size: 18px;
        font-weight: $font-weight500;
        color: $color-black-zinc-950;
        margin-bottom: 20px;
      }

      .filter-options {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .filter-option {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;

          .filter-checkbox {
            cursor: pointer;
            border: 1px solid $color-black-zinc-500;
            border-radius: 5px;
            width: 20px;
            height: 20px;
            transition: all .3s ease-in-out;
            position: relative;
            appearance: none;


            &:checked {
              background: $brand-color;
              border-color: $brand-color;

              &::after {
                content: "✓";
                color: #fff;
                font-size: 14px;
                font-weight: bold;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }

              +.filter-label {
                color: $brand-color;
                font-weight: $font-weight500;
              }
            }
          }

          .filter-label {
            font-size: 16px;
            color: $color-black-zinc-500;
            font-weight: $font-weight400;
            cursor: pointer;
            user-select: none;
            transition: $transition;
          }

          &:hover {
            .filter-label {
              color: $brand-color;
              font-weight: $font-weight500;
            }

            .filter-checkbox {
              border-color: $brand-color;
            }
          }
        }
      }

      .tags-container {
        display: flex;
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 15px;

        .tag-button {
          color: #6F8DC1;
          font-size: 16px;
          font-weight: $font-weight500;
          cursor: pointer;
          text-decoration: underline;
          background: transparent;
          border: none;
          padding: 0;
          margin: 0;
          transition: $transition;

          &:hover,
          &.active {
            color: $brand-color;
            text-decoration: none;
          }
        }
      }
    }
  }

  // Right Content Area
  .blog-content-area {
    // .blog-sort-bar {
    //   display: flex;
    //   justify-content: flex-end;
    //   margin-bottom: 30px;

    //   .sort-dropdown {
    //     padding: 8px 16px;
    //     border: 1px solid #ddd;
    //     border-radius: 8px;
    //     background: white;
    //     font-size: 0.95rem;
    //     cursor: pointer;
    //     outline: none;

    //     &:focus {
    //       border-color: #ff6b6b;
    //     }
    //   }
    // }

    .blog-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
      row-gap: 48px;
      margin-bottom: 48px;

      .blog-card {
        border-radius: 12px;
        overflow: hidden;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        cursor: pointer;

        &:hover {
          .blog-card-image {
            .blog-img {
              transform: scale(1.05);
            }

            .blog-card-overlay {
              opacity: 1;
              visibility: visible;

              .blog-list-read-more-btn {
                transform: translateY(0);
              }
            }
          }
        }

        .blog-card-image {
          position: relative;
          width: 100%;
          overflow: hidden;
          border-radius: 12px;

          .blog-img {
            width: 100%;
            height: 100%;
            border-radius: 12px;
            max-height: 215px;
            object-fit: cover;
            transition: $transition;
          }

          .blog-card-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #1B2236B2;
            border-radius: 12px;
            padding: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 0;
            visibility: hidden;
            transition: $transition;

            .blog-list-read-more-btn {
              display: flex;
              align-items: center;
              border: 1px solid transparent;
              background-color: $color-white;
              border-radius: 3px;
              padding: 9px 24px;
              font-size: 16px;
              font-weight: $font-weight500;
              color: $color-black-zinc-950;
              cursor: pointer;
              line-height: normal;
              transition: $transition;
              transform: translateY(10px);

              &:hover {
                border-color: $brand-color;
                color: $brand-color;
              }
            }
          }
        }

        .blog-card-content {
          padding: 12px 0 0 0;

          .blog-meta {
            display: flex;
            flex-direction: column;
            gap: 6px;
            margin-bottom: 12px;

            .blog-category {
              color: #FF2056;
              font-size: 18px;
              font-weight: $font-weight600;
            }

            .blog-date-read {
              color: $color-black-zinc-900;
              font-size: 18px;
            }
          }

          .blog-title {
            font-size: 24px;
            font-weight: $font-weight500;
            color: $color-black-zinc-950;
            margin-bottom: 12px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }

          .blog-description {
            color: $color-black-zinc-700;
            font-size: 14px;

            .read-more-btn {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

// Responsive Design
@media (max-width: 991.55px) {
  .blog-listing-section {
    .blog-listing-header {
      margin-bottom: 32px;
    }

    .section-title {
      font-size: 32px;
    }

    .blog-listing-layout {
      grid-template-columns: 1fr;
      gap: 32px;
    }

    .blog-filters-sidebar {
      position: static;

      .filter-section {
        margin-bottom: 24px;
        padding-bottom: 24px;
      }
    }

    .blog-content-area {
      .blog-grid {
        gap: 32px 20px;
        margin-bottom: 32px;
      }
    }
  }
}


@media (max-width: 767.55px) {
  .blog-listing-section {
    .section-title {
      font-size: 24px;
    }


    .blog-listing-header {
      flex-direction: column;
      align-items: start;
      margin-bottom: 20px;
      gap: 32px;

      .blog-sort-bar {
        width: 100%;
        gap: 20px;
        justify-content: space-between;

        .mobile-filter-button {
          flex: 1;
          display: flex;
          height: -webkit-fill-available;

          .filter-button {
            color: #09090b;
            background: #f3f4f6;
            border-color: #f3f4f6;
            border-radius: 9px;
            justify-content: space-between;
            gap: 8px;
            width: 100%;
            height: 100%;

            .filter-icon-with-text {
              align-items: center;
              gap: 10px;
              display: flex;
            }
          }
        }
      }

      .blog-sort-by-select-option {
        min-width: unset;
        flex: 1;
      }
    }

    .blog-filters-sidebar {
      .filter-section {
        .tags-container {
          gap: 11px;
        }
      }
    }

    .blog-content-area {
      .blog-grid {
        gap: 24px 20px;

        .blog-card {
          .blog-card-image {
            border-radius: 6px;

            .blog-img {
              border-radius: 6px;
            }

            .blog-card-overlay {
              border-radius: 6px;
              padding: 10px;

              .blog-list-read-more-btn {
                padding: 8px 12px;
                font-size: 14px;
              }
            }
          }

          .blog-card-content {
            padding: 8px 0 0;

            .blog-meta {
              margin-bottom: 8px;
              gap: 8px;

              .blog-category {
                font-size: 14px;
              }

              .blog-date-read {
                font-size: 12px;
              }
            }

            .blog-title {
              margin-bottom: 8px;
              font-size: 16px;
            }

            .blog-description {
              font-size: 12px;

              .read-more-btn {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 575.55px) {
  .blog-listing-section {
    .blog-content-area {
      .blog-grid {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}