@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.booking-review-page {

  .progress-steps {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin: 44px 0 36px;

    .step {
      display: flex;
      align-items: center;
      gap: 12px;
      color: #A2B4D7;
      font-size: 16px;
      font-weight: $font-weight500;

      &.active,
      &.completed {
        color: $brand-color;
      }

      &.completed {
        font-size: 19px;
      }
    }

    .step-line {
      flex: 1;
      height: 2px;
      border-bottom: 2px solid #D1D5DB;
    }
  }

  .review-booking-heading {
    margin-bottom: 44px;

    .review-booking-title {
      font-size: 30px;
      font-weight: $font-weight600;
      color: $color-black-zinc-950;
      margin-bottom: 16px;
    }

    .review-booking-desc {
      font-size: 16px;
      color: $color-black-zinc-500;
      margin: 0px;
    }
  }

  .booking-review-separetor {
    border-bottom: 1px solid $border-color;
    margin: 20px 0;
    width: 100%;
  }

  .booking-review-details {
    gap: 32px;
    grid-template-columns: 1fr 276px;
    display: grid;

    .booking-box-action {
      .booking-edit-btn {
        font-size: 16px;
        color: $brand-color;
        font-weight: $font-weight500;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .review-booking-details-left {
      flex: 2;

      .image-gallery-section {

        border: 1px solid $border-color;
        border-radius: 8px;
        margin-bottom: 44px;

        .main-image {
          overflow: hidden;
          border-radius: 8px 8px 0 0;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px 8px 0 0;
            transition: $transition;

            &:hover {
              transform: scale(1.05);
            }
          }
        }

        .booking-hotel-details {
          padding: 12px;

          .booking-hotel-name {
            font-size: 24px;
            font-weight: $font-weight600;
            margin-bottom: 12px;
            color: $color-black;
          }

          .booking-hotel-rating {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 12px;
            font-size: 16px;
            color: $color-black-zinc-500;

            .rating-stars {
              gap: 2px;
            }

            .rating-reviews {
              gap: 4px;
              color: $color-black-zinc-500;

              .rating-score {
                font-weight: $font-weight500;
                font-size: 16px;
                color: $color-black;
              }
            }
          }

          .booking-hotel-location {
            display: flex;
            align-items: flex-start;
            gap: 8px;
            margin-bottom: 20px;
            font-size: 14px;
            color: $color-black-zinc-800;

            svg {
              min-width: 20px;
              min-height: 20px;
            }
          }

          .booking-hotel-amenities {
            display: flex;
            gap: 24px;
            margin-bottom: 20px;
            flex-wrap: wrap;

            .amenity-tag {
              gap: 8px;

              .amenity-tag-name {
                color: #2B7FFF;
                font-size: 16px;
              }
            }

          }
        }
      }

      .booking-detail-box {
        border: 1px solid $border-color;
        border-radius: 8px;
        padding: 12px;
        margin-bottom: 44px;

        &:last-child {
          margin-bottom: 0px;
        }

        .booking-details-sub-title {
          font-size: 24px;
          font-weight: $font-weight600;
          color: $color-black-zinc-800;
          margin-bottom: 16px;
        }

        .booking-listing-info {
          margin: 0px;
          padding: 0px;
          list-style-type: none;

          .booking-listing-item {
            gap: 15px;
            margin-bottom: 20px;

            &:last-child {
              margin-bottom: 0px;
            }

            .booking-list-left {
              gap: 8px;
              font-size: 18px;
              color: $color-black-zinc-800;
            }

            .booking-list-right {
              font-size: 16px;
              font-weight: $font-weight500;
              color: $color-black-zinc-950;
            }
          }
        }

        .booking-inner-box {
          margin: 30px 0;

          .booking-inner-title {
            font-size: 18px;
            font-weight: $font-weight600;
            margin-bottom: 16px;
          }

          .booking-inner-list {
            gap: 8px;
            margin-bottom: 10px;
            font-size: 18px;
            color: #2B7FFF;

            &:last-child {
              margin-bottom: 0px;
            }
          }
        }

        &.booking-price-details {
          .booking-listing-info {
            .booking-listing-item {
              .booking-list-left {
                font-size: 16px;
              }

              &.tax-fees {
                .booking-list-left {
                  text-decoration: underline;
                }
              }

              &.discount {
                .booking-list-right {
                  color: #FB2C36;
                }
              }
            }

            .spacing-30 {
              margin: 30px 0;
            }

            .booking-sub-total {
              margin-bottom: 16px;

              .booking-list-left,
              .booking-list-right {
                font-size: 24px;
                font-weight: $font-weight600;
                color: $color-black-zinc-950;
              }

            }
          }

          .booking-rates {
            font-size: 12px;
            color: $color-black-zinc-500;
            margin-bottom: 16px;
          }

          .booking-price-increase {
            font-size: 16px;
            color: $color-black-zinc-800;
            gap: 8px;
            margin-bottom: 30px;
          }
        }

        &.booking-cancel-cost {
          padding: 24px 12px;

          .booking-details-sub-title {
            margin-bottom: 10px;
          }

          .booking-listing-item {

            .booking-list-left,
            .booking-list-right {
              font-size: 16px;
            }
          }
        }
      }

      .booking-traveler-details {
        .booking-details-sub-title {
          margin-bottom: 24px;
        }

        .booking-form-title {
          font-size: 20px;
          font-weight: $font-weight500;
          color: $color-black-zinc-800;
          margin-bottom: 20px;

          span {
            font-size: 16px;
            color: $color-black-zinc-500;
          }
        }

        .mandatory-field {
          .booking-form-title {
            span {
              color: #FB2C36;
            }
          }
        }

        .required {
          color: #FB2C36;
        }

        .booking-details-form {
          margin-bottom: 28px;

          &:last-child {
            margin-bottom: 0px;
          }

          .booking-form-content {
            .form-row {
              display: flex;
              column-gap: 20px;
            }

            .form-group {
              flex: 1;
            }
          }
        }

        .special-request-field {
          .booking-form-title {
            margin-bottom: 16px;
          }

          .booking-form-desc {
            font-size: 14px;
            color: $color-black-zinc-500;
            font-weight: $font-weight500;
            margin-bottom: 8px;
          }

          .text-field {
            font-size: 14px;
            border-radius: 4px;
          }
        }
      }
    }

    .review-booking-details-right {
      flex: 1;
      position: sticky;
      top: 126px;
      align-self: flex-start;

      .hotel-info-header {
        padding: 12px;
        border-radius: 4px;
        background-color: #F9FAFB;

        .booking-hotel-content {
          display: flex;
          flex-direction: column;
        }

        .booking-hotel-info {
          gap: 6px;

          .booking-hotel-image {
            width: 44px;
            height: 44px;
          }

          .hotel-name {
            font-size: 24px;
            font-weight: $font-weight600;
            margin-bottom: 4px;
            color: $color-black-zinc-950;
          }

          .booking-guest-info {
            font-size: 12px;
            color: $color-black-zinc-950;
            margin: 0px;
          }
        }

        .booking-price-info {
          margin: 24px 0;

          .booking-price-item {
            justify-content: space-between;
            gap: 12px;
            margin-bottom: 12px;
            font-size: 16px;
            color: $color-black;

            &:last-child {
              margin-bottom: 0px;
            }

            .booking-iocn-with-text {
              gap: 10px;
            }

            .discount {
              color: #FB2C36;
            }
          }

          .booking-tital-price {
            font-size: 20px;
            font-weight: $font-weight500;
            color: $color-black-zinc-950;
            margin-bottom: 8px;
            gap: 12px;

            span {
              line-height: normal;
            }
          }

          .booking-price-tax {
            font-size: 12px;
            color: $color-black-zinc-500;
            margin: 0px;
          }
        }

        .check-availability-action {
          .check-availability-btn {
            font-size: 18px;
            width: 100%;
            padding: 6.7px 15px;
            cursor: pointer;
          }
        }
      }
    }
  }
}


@media (max-width: 1199.55px) {
  .booking-review-page {
    .booking-review-details {
      grid-template-columns: 1fr 280px;
      gap: 24px;

      .review-booking-details-left {
        .image-gallery-section {
          margin-bottom: 32px;
        }

        .booking-detail-box {
          margin-bottom: 32px;
        }

        .booking-traveler-details {
          .booking-details-form {
            margin-bottom: 12px;
          }
        }
      }
    }
  }
}


@media (max-width: 991.95px) {
  .booking-review-page {
    .progress-steps {
      gap: 16px;
      margin: 32px 0;

      .step {
        font-size: 14px;
        gap: 8px;

        &.completed {
          font-size: 16px;
        }
      }

      .step-circle {
        svg {
          width: 26px;
          height: 26px;
        }
      }
    }

    .review-booking-heading {
      margin-bottom: 32px;

      .review-booking-title {
        margin-bottom: 12px;
        font-size: 28px;
      }
    }

    .booking-review-details {
      display: flex;
      flex-direction: column;
      gap: 32px;

      .review-booking-details-right {
        width: 100%;
      }
    }
  }
}


@media (max-width: 767.55px) {
  .booking-review-page {
    .progress-steps {
      gap: 0px;
      margin: 32px 0 24px;
      align-items: start;

      .step-circle {
        position: relative;
        width: 100%;
        height: 24px;

        svg {
          width: 24px;
          height: 24px;
        }
      }

      .step-line {
        display: none;
      }

      .step {
        font-size: 14px;
        gap: 10px;
        flex-direction: column;
        align-items: end;
        flex: 1;

        &:last-child {
          text-align: end;


          .step-circle {
            .mobile-progress-line {
              right: 40px;
              left: auto;
            }
          }


        }

        .mobile-progress-line {
          position: absolute;
          width: calc(100% - 40px);
          border-bottom: 2px solid $border-color;
          top: 50%;
          left: 40px;
          z-index: -1;
        }

        .step-label {
          text-align: end;
        }

        &.completed {
          font-size: 16px;
          align-items: start;
          font-weight: $font-weight600;

          .step-label {
            text-align: start;
            max-width: 95%;
          }
        }

        &.active {
          align-items: center;

          .step-label {
            text-align: center;
          }

          .mobile-progress-line {
            width: 100%;
            left: 0;
            right: auto;
          }

          .step-circle {
            text-align: center;
            position: relative;

            svg {
              z-index: 1;
              position: relative;
            }

            &::before {
              content: '';
              position: absolute;
              top: 50%;
              left: 50%;
              width: 56px;
              height: 100%;
              background-color: $color-white;
              z-index: 0;
              transform: translate(-50%, -50%);
            }
          }
        }

      }
    }

    .review-booking-heading {
      margin-bottom: 26px;

      .review-booking-title {
        font-size: 24px;
      }

      .review-booking-desc {
        font-size: 14px;
      }
    }

    .booking-review-details {
      gap: 24px;

      .review-booking-details-left {
        .image-gallery-section {
          margin-bottom: 20px;

          .main-image {
            img {
              min-height: 242px;
            }
          }

          .booking-hotel-details {
            .booking-hotel-name {
              font-size: 20px;
            }

            .booking-hotel-location {
              margin-bottom: 12px;
              font-size: 12px;

              svg {
                min-width: 16px;
                min-height: 16px;
              }
            }

            .booking-hotel-amenities {
              margin-bottom: 12px;

              .amenity-tag {
                .amenity-tag-name {
                  font-size: 12px;
                }

                img {
                  width: 16px;
                  height: 16px;
                }
              }
            }
          }
        }

        .booking-detail-box {
          margin-bottom: 20px;

          .booking-details-sub-title {
            font-size: 20px;
          }

          .booking-listing-info {


            .booking-listing-item {
              gap: 12px;

              .booking-list-left {
                gap: 8px;
                font-size: 14px;
                color: $color-black-zinc-800;

                svg {
                  width: 16px;
                  height: 16px;
                }
              }

              .booking-list-right {
                font-size: 14px;
              }
            }
          }

          .booking-inner-box {
            .booking-inner-title {
              font-size: 16px;
            }

            .booking-inner-list {

              font-size: 14px;

              img {
                width: 16px;
                height: 16px;
              }
            }
          }

          &.booking-price-details {
            .booking-listing-info {
              .booking-listing-item {

                .booking-list-left,
                .booking-list-right {
                  font-size: 16px;
                }
              }

              .booking-sub-total {

                .booking-list-left,
                .booking-list-right {
                  font-size: 20px;
                }

              }
            }

            .booking-rates {
              font-size: 12px;
            }

            .booking-price-increase {
              font-size: 14px;
            }
          }

          &.booking-cancel-cost {
            .booking-listing-item {

              .booking-list-left,
              .booking-list-right {
                font-size: 14px;
              }
            }
          }
        }

        .booking-traveler-details {
          .booking-form-title {
            font-size: 18px;

            span {
              font-size: 14px;
            }
          }

          .booking-details-form {



            .booking-form-content {
              .form-row {
                column-gap: 20px;
                margin-bottom: 20px;
                flex-direction: column;
              }

              .form-group {
                flex: 1;

                .form-label {
                  margin-bottom: 8px;
                }
              }
            }
          }

          .special-request-field {
            .booking-form-title {
              font-size: 20px;
            }

            .form-row {
              margin-bottom: 0px !important;
            }

            .booking-form-desc {
              font-size: 14px;
              color: $color-black-zinc-500;
              font-weight: $font-weight500;
              margin-bottom: 8px;
            }

            .text-field {
              font-size: 14px;
              border-radius: 4px;
            }
          }
        }
      }

      .review-booking-details-right {
        flex: 1;
        position: sticky;
        top: 126px;
        align-self: flex-start;

        .hotel-info-header {
          padding: 0px;
          background-color: transparent;

          .booking-hotel-info {
            gap: 12px;
            align-items: center !important;

            .booking-hotel-image {
              width: 64px;
              height: 64px;
              border-radius: 2px;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                ;
              }
            }

            .hotel-name {
              font-size: 20px;
            }

            .booking-guest-info {
              font-size: 16px;
              color: $color-black-zinc-500;
            }
          }

          .booking-price-info {
            .booking-tital-price {
              font-size: 16px;
              font-weight: $font-weight600;
            }
          }

          .check-availability-action {
            .check-availability-btn {
              font-size: 16px;
              padding: 9.2px 15px;
            }
          }
        }
      }
    }
  }
}


// RTL Layout
@media (max-width: 767.55px) {
  [dir="rtl"] {
    .booking-review-page {
      .progress-steps {
        .step {
          .mobile-progress-line {
            left: 0;
          }

          &:last-child {
            .step-circle {
              .mobile-progress-line {
                left: 40px;
                right: auto;
              }
            }
          }
        }
      }
    }
  }
}